{% load static %}
{% include 'Navbar.html' %}
    
    <!-- <h1 class="time"> The time is now {{ cur_time }} </h1> -->

    <div class="container-fluid p-0">
        <!-- About-->
        <section class="resume-section" id="about">
            <div class="resume-section-content">
                <h1  class="mb-0">
                    Ehi
                    <span class="text-primary">Aigbokhaevbo</span>
                </h1>
                <div class="subheading mb-5">
                    BIRMINGHAM, ENGLAND ·
                    <a style="color:#aa6800" href="mailto:EHIJATORA@GMAIL.COM">EHIJATORA@GMAIL.COM</a>
                </div>
                <p class="lead mb-5 Desc-text" >I am experienced in leveraging data solution tools to provide in-depth analytics as well as in breaking down key insights to stakeholders by giving clear summaries.
                    I also provide full stack developer services.
                </p>
                <div class="social-icons">
                    <a class="social-icon" href="https://www.linkedin.com/in/ehijator-aigbokhaevbo-7876a8159/"><i class="fab fa-linkedin-in"></i></a>
                    <a class="social-icon" href="https://github.com/Ehijator"><i class="fab fa-github"></i></a>
                    
                </div>
            </div>
        </section>
        <hr class="m-0" />


