<!-- Experience-->
{% load static %}
{% include 'Navbar.html' %}

    <!-- Experience-->
    <section class="resume-section" id="experience">
        <div class="resume-section-content">
            <h2 class="mb-5">Experience</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Data Analyst</h3>
                    <div class="subheading mb-3">Capita plc</div>
                    <p class="Desc-text">
                        Within this role I worked on their NHS contract division where we provided decision makers with day-to-day reports across all the NHS service lines, refactored existing reports to adapt with internal changes within the business and maintained existing processes within our SQL Server database where
                        I built and refactored stored procedures within our database that pull data into out SSRS and PowerBI reports and then
                        liaising with Service line managers in order to fulfil their data request and gave input and suggestions that could assist in getting accurate data as fast as we can.
                        
                        </p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">October 2022 - Present</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Data Analyst</h3>
                    <div class="subheading mb-3">Pathway Group</div>
                    <p class="Desc-text">Spearheaded the move from static/ad-hoc reporting and spreadsheets to automated data pipelines allowing data to be more accessible to end users and allowing users to focus on decision making.</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">April 2022 - October 2022</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Associate Data Visualisation and Automation Analyst</h3>
                    <div class="subheading mb-3">Sainsburys Group</div>
                    <p class="Desc-text">Maintained and delivered reports from our SQL Server Database, liasing with stakeholders to deliver on requirements while supporting and creating data pipelines for new sources.</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">January 2022 - April 2022</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Graduate Platform Analyst</h3>
                    <div class="subheading mb-3">IPSOS Karian and Box</div>
                    <p class="Desc-text">Developed surveys using Qualtrics and liasing with product managers to meet stakeholder's requirements as well as handling the analytics later in the product cycle.</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">September 2021 - December 2021</span></div>
            </div>
        </div>
    </section>
    <hr class="m-0" />

</body>
</html>