{% load static %}
{% include 'Navbar.html' %}
<!-- Projects-->
<section class="resume-section" id="awards">
    <div class="resume-section-content">
        <h2 class="mb-5">Projects</h2>
        <ul class="fa-ul mb-0">
            <li class="Desc-text">
                <span class="Desc-text"><i class="mb-5"></i></span>
                - ETL Batch processing solution for British Police crime data, more info 
                <a style="color:#b08032" href="https://github.com/Ehijator/BritishPoliceData">here</a>
            </li>
            <li class="Desc-text">
                <span class="Desc-text"><i class="mb-5"></i></span>
                - Analysis and Report on Survey data from Universal Exports, more info 
                <a style="color:#b08032" href="https://github.com/Ehijator/Analysis_and_Report_on_Survey_data">here</a>
            </li>
            <li class="Desc-text">
                <span class="Desc-text"><i class="mb-5"></i></span>
                - Multivariate Analysis on Fish Species, more info 
                <a style="color:#b08032" href="https://github.com/Ehijator/Multivariate-Analysis-with-R">here</a>
            </li>
            <li class="Desc-text">
                <span class="Desc-text"><i class="mb-5"></i></span>
                - Web scraping Arsenal football stats, more info 
                <a style="color:#b08032" href="https://github.com/Ehijator/ArsenalScrape">here</a>
            </li>
            <li class="Desc-text">
                <span class="Desc-text"><i class="mb-5"></i></span>
                - Dashboard reporting retail data, more info 
                <a style="color:#b08032" href="https://github.com/Ehijator/Retail_dashboard">here</a>
            </li>
            
        </ul>
    </div>
</section>
<hr class="m-0" />