{% load static %}
{% include 'Navbar.html' %}
<!-- Skills-->
<section class="resume-section" id="skills">
    <div class="resume-section-content">
        <h2 class="mb-5">Skills</h2>
        <div class="subheading mb-3">Programming Languages & Tools</div>
        <ul class="list-inline dev-icons">
            <li class="list-inline-item"><img  src="{% static 'theme/assets/img/html-5.png' %}" width="70px" ></img></li>
            <li class="list-inline-item"><img  src="{% static 'theme/assets/img/css-3.png' %}" width="70px" ></img></li>
            <li class="list-inline-item"><img  src="{% static 'theme/assets/img/python.png' %}" width="70px" ></img></li>
            <li class="list-inline-item"><img  src="{% static 'theme/assets/img/sql-server.png' %}" width="70px" ></img></li> 
            <li class="list-inline-item"><img  src="{% static 'theme/assets/img/power-bi.png' %}" width="70px" ></img></li>
            <li class="list-inline-item"><img  src="{% static 'theme/assets/img/excel.png' %}" width="70px" ></img></li>
            
        <!-- </ul>
        <div class="subheading mb-3">Workflow</div>
        <ul class="fa-ul mb-0">
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Mobile-First, Responsive Design
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Cross Browser Testing & Debugging
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Cross Functional Teams
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Agile Development & Scrum
            </li>
        </ul> -->
    </div>
</section>
<hr class="m-0" />